<div class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-2">
                <!-- Logo -->
                <div class="logo">
                    <h1>
                        <a href="index.html">ShoppingCart</a>
                    </h1>
                </div>
            </div>
            <div class="col-md-3 col-sm-3">
                <div class="home">
                    <div id="ddtopmenubarhome" class="mattblackmenu">
                        <ul>
                            <li>
                                <a href="#" rel="ddsubmenu1">Home</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-2">
                <!-- Navigation menu -->
                <div class="navi">
                    <div id="ddtopmenubar" class="mattblackmenu">
                        <ul>
                            <li>
                                <a href="#" rel="ddsubmenu1">Computers</a>
                                <ul id="ddsubmenu1" class="ddsubmenustyle">
                                    <li><a href="items.html">Desktop</a></li>
                                    <li><a href="items.html">Laptop</a></li>
                                    <li><a href="items.html">NetBook</a></li>
                                    <li><a href="items.html">All-In-One PC</a></li>
                                    <li><a href="items.html">Alienware</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#" rel="ddsubmenu1">Account</a>
                                <ul id="ddsubmenu1" class="ddsubmenustyle">
                                    <li><a href="account.html">My Account</a></li>
                                    <li><a href="viewcart.html">View Cart</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                    <li><a href="wishlist.html">Wish List</a></li>
                                    <li><a href="orderhistory.html">Order History</a></li>
                                    <li><a href="editprofile.html">Edit Profile</a></li>
                                    <li><a href="confirmation.html">Confirmation</a></li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>
                <!-- Dropdown NavBar -->
                <div class="navis"></div>
            </div>
            <div class="col-md-4 col-sm-5">
                <div class="kart-links">
                    <a href="login.html">Login</a>
                    <a href="register.html">Signup</a>
                    <a data-toggle="modal" href="#shoppingcart"><i class="fa fa-shopping-cart"></i> 3 Items - $300</a>
                </div>
            </div>
        </div>
    </div>
</div>